.console {
  display: grid;
  grid-template-columns: 35% 65%;
  height: 100vh;
  background: #0b0f1a;
  color: white;
  font-family: Segoe UI, sans-serif;
}

.left {

  padding: 40px;
  border-right: 1px solid #1f2937;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #111827;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
}

img {
  max-width: 70%;
  border-radius: 12px;

}

