.live{
  text-align:center;
  color:white;
}

.grid{
  margin:30px auto;
  width:420px;
  display:grid;
  grid-template-columns:repeat(8,1fr);
  gap:6px;
}

.cell{
  width:40px;
  height:40px;
  background:#4cc9f0;
  transition:.2s;
}
